.loader-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);

    .loader {
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid;
        border-color: #000 #0000;
        animation: l1 1s infinite;
    }

    @keyframes l1 {
        to {
            transform: rotate(.5turn)
        }
    }
}

.loader-container.dark {
    background-color: rgb(22, 22, 25) !important;

    .loader {
        border-color: white rgb(22, 22, 25)
    }
}

.details-section.dark {
    background-color: rgb(22, 22, 25) !important;


    .img-container {
        .loader {
            border-color: white rgb(32, 32, 35) !important
        }
    }

    .details {
        background-color: rgb(32, 32, 35) !important;
        color: white !important;
    }

    .options {
        color: black !important;
    }

    input {
        color: white !important;
    }

    a {
        color: white !important;
    }

    form{
        input{
            color: black !important;
        }
    }

    .three-dots-container {
            color: black !important;
    }
}

#details {
    background-color: rgb(205, 205, 199);
    padding-top: 3.65em;

    .details {
        padding: 1.8em 0;
        border-top-left-radius: 1.2em;
        border-top-right-radius: 1.2em;
        background-color: rgb(228, 228, 228);

        .container {
            padding: .5em 0.5em;

            .heading {
                h1 {
                    margin-bottom: .5em;
                    font-size: 1.4em;
                    font-weight: 600;
                }

                h3 {
                    margin: 0;
                    font-weight: 600;
                    font-size: 1em;
                }
            }

            .img-container {
                img {
                    width: 100%;
                    vertical-align: middle;
                }

                .mini-loader {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 15em;

                    .loader {
                        width: 25px;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        border: 8px solid;
                        border-color: #000 #0000;
                        animation: l1 1s infinite;
                    }

                    @keyframes l1 {
                        to {
                            transform: rotate(.5turn)
                        }
                    }
                }
            }

            .options {
                background-color: rgb(208, 229, 159);
                text-align: center;
                padding: 1em 0;

                h6 {
                    font-size: .55em;
                    margin: 0;
                    letter-spacing: .1em;
                    font-weight: 700;
                }
            }

            .about {
                p {
                    margin-top: 1em;
                    font-size: 1em;
                }
            }

            .bicycle-color,
            .handle-color {
                h6 {
                    font-weight: 400;
                    margin: 1em 0;
                }

                .color-container {
                    margin-bottom: 1em;
                    display: flex;
                    justify-content: space-between;

                    div {
                        border-radius: 100%;
                        height: 2.1em;
                        width: 2.1em;
                    }

                    div:hover {
                        cursor: pointer;
                    }

                    div:nth-child(1) {
                        background-color: white;
                    }

                    div:nth-child(2) {
                        background-color: rgb(9, 9, 9);
                    }

                    div:nth-child(3) {
                        background-color: rgb(246, 169, 81);
                    }

                    div:nth-child(4) {
                        background-color: rgb(158, 134, 146);
                    }

                    div:nth-child(5) {
                        background-color: rgb(97, 147, 173);
                    }

                    div:nth-child(6) {
                        background-color: rgb(122, 173, 173);
                    }
                }
            }

            .download-pdf {
                margin-top: 1em;
                padding: 1em 0;
                border-top: 1px solid #CECDC7;
                border-bottom: 1px solid #CECDC7;

                button {
                    width: 100%;
                    border: none;
                    padding: 1.3em 0;
                    border-radius: 2em;
                    background-color: rgb(13, 13, 13);
                    color: white;
                    font-size: .55em;
                    font-weight: 700;
                    transition: .5s;
                    cursor: pointer;
                }

                button:hover {
                    background-color: white;
                    color: rgb(13, 13, 13);
                }
            }

            .add-to-cart {
                display: flex;
                justify-content: space-between;
                padding: 1em 0;
                border-bottom: 1px solid #CECDC7;

                .quantity {
                    display: flex;
                    align-items: center;

                    a {
                        box-sizing: border-box;
                        border: 1px solid #CECDC7;
                        text-decoration: none;
                        color: black;
                        width: 1.5em;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    input {
                        border-top: 1px solid #CECDC7;
                        border-bottom: 1px solid #CECDC7;
                        border-right: none;
                        border-left: none;
                        width: 3.5em;
                        height: 100%;
                        box-sizing: border-box;
                        text-align: center;
                        background-color: transparent;
                        -moz-appearance: textfield;
                        appearance: textfield;
                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    input:focus {
                        outline: 0;
                    }
                }

                button {
                    cursor: pointer;
                    margin: 0;
                    padding: 2em 3em 2em 6em;
                    position: relative;
                    border: none;
                    border-radius: 3em;
                    background-color: rgb(13, 13, 13);
                    color: white;
                    font-weight: 600;
                    font-size: .5em;

                    img {
                        width: 4em;
                        left: .5em;
                        top: 50%;
                        transform: translateY(-50%);
                        position: absolute;
                    }
                }
            }

            .share {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .icons {
                    display: flex;
                    gap: .8em;

                    a {
                        color: black;
                    }
                }
            }

            .comments-header {
                border-bottom: 1px solid #CECDC7;

                h1 {
                    margin: .7em 0;
                    font-size: 1.4em;
                }
            }

            form {
                margin-top: 1em;
                position: relative;

                input {
                    border: 0;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 1em;
                    padding-right: 3.8em;
                }

                input:focus {
                    outline: 0;
                }

                .mobile {
                    position: absolute;
                    right: 1em;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: transparent;
                    border: 0;

                    i {
                        font-size: 1.2em;
                    }
                }
            }

            .comments-section {

                .comment-container {
                    border-bottom: 1px solid #CECDC7;
                    padding: .5em 0;

                    .edit-form{
                        button{
                            padding: .7em;
                            border-radius: 1.5em;
                        }
                    }

                    form {
                        margin: 0;

                        button {
                            background-color: black;
                            font-size: .5em;
                            color: white;
                        }
                    }

                    .comment-cont-head {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h5 {
                            margin: 0;
                        }

                        .three-dots {
                            flex-shrink: 0;
                            height: 1.5em;
                            flex-basis: 1.5em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                        }

                        .three-dots-container {
                            display: none;
                            flex-direction: column;
                            background-color: rgb(241, 241, 241);
                            position: absolute;
                            top: 2.6em;
                            right: 0;
                            font-size: .6em;
                            padding: .7em .8em;
                            border-radius: 1em;
                            gap: .5em;
                            font-weight: 500;
                            cursor: pointer;

                            .edit {
                                display: flex;
                                align-items: center;
                                gap: .5em;
                            }

                            .delete {
                                display: flex;
                                align-items: center;
                                gap: .5em;
                            }
                        }

                        .three-dots-container.active {
                            display: flex;
                        }
                    }

                    .rating-date {
                        display: flex;
                        margin: .6em 0;
                        gap: .5em;

                        div {
                            display: flex;

                            i {
                                font-size: .8em;
                            }
                        }

                        span {
                            font-size: .7em;
                        }
                    }

                    p {
                        margin: 0;
                        font-size: .8em;
                    }
                }

            }
        }
    }
}

@media screen and (min-width:767px) {
    #details {
        padding-top: 1.1em;

        .details {
            padding-bottom: 2.5em;

            .container {
                padding: 0 2em;
                max-width: 1600px;
                margin: 0 auto;

                .heading {
                    display: flex;
                    align-items: flex-end;

                    h1 {
                        width: 60%;
                        font-size: .7em;
                        margin: 0;
                    }

                    h3 {
                        font-size: .33em;
                    }
                }

                .img-content-container {
                    display: flex;

                    .img-container {
                        width: 60%;

                        .mini-loader {
                            height: 7.1em;
                        }
                    }

                    .features {
                        width: 40%;

                        .about {
                            p {
                                margin: 0;
                                font-size: .2em;
                            }
                        }

                        .options {
                            margin: .5em 0;
                            padding: .4em 0;

                            h6 {
                                font-size: .15em;
                            }
                        }

                        .bicycle-color,
                        .handle-color {
                            h6 {
                                font-size: .15em;
                            }

                            .color-container {
                                margin: 0;

                                div {
                                    height: .65em;
                                    width: .65em;
                                }
                            }
                        }

                        .download-pdf {
                            margin-top: .5em;
                            padding: .4em 0;
                            display: flex;

                            button {
                                font-size: .15em;
                            }
                        }

                        .add-to-cart {
                            justify-content: flex-start;
                            gap: .5em;
                            padding: .4em 0;

                            .quantity {

                                a {
                                    width: 2em;
                                    font-size: .15em;
                                    height: 80%;
                                }

                                input {
                                    width: 3em;
                                    font-size: .15em;
                                    height: 80%;
                                }
                            }

                            button {
                                padding: 1.5em 2em 1.5em 5em;
                                font-size: .15em;

                                img {
                                    width: 3em;
                                }
                            }
                        }

                        .share {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            h6 {
                                font-size: .15em;
                            }

                            .icons {
                                display: flex;
                                gap: .35em;

                                a {
                                    font-size: .2em;
                                    color: black;
                                }
                            }
                        }
                    }
                }

                .comments-header {
                    border-bottom: 1px solid #CECDC7;

                    h1 {
                        margin: .7em 0;
                        font-size: .4em;
                    }
                }

                form {
                    margin-top: .5em;
                    display: flex;

                    input {
                        font-size: .2em;
                    }

                    .mobile {
                        right: 1.5em;
                        cursor: pointer;

                        i {
                            font-size: 1em;
                        }
                    }
                }

                .comments-section {
                    
                    .comment-container {
                        padding: .5em 0;

                        .edit-form{
                            button{
                                right: 2.5em;
                                padding: .5em .7em;
                                border-radius: 1.5em;
                                font-size: .15em;
                            }
                        }

                        form {
                            margin: 0;
                        }

                        .comment-cont-head {

                            h5 {
                                margin: 0;
                                font-size: .25em;
                            }

                            .three-dots {
                                height: 1.5em;
                                width: 1.5em;
                                font-size: .2em;
                            }

                            .three-dots-container {
                                top: 2.2em;
                                right: 0;
                                font-size: .15em;
                                gap: .2em;

                                .edit {
                                    gap: .5em;
                                }

                                .delete {
                                    gap: .5em;
                                }
                            }
                        }

                        .rating-date {
                            margin: .15em 0;
                            gap: .1em;

                            div {
                                i {
                                    font-size: .2em;
                                }
                            }

                            span {
                                font-size: .2em;
                            }
                        }

                        p {
                            margin: 0;
                            font-size: .2em;
                        }
                    }

                }
            }
        }

    }
}