#form-section {
    background-color: rgb(205, 205, 199);
    padding-top: 3.65em;

    h1,
    p {
        margin: 0;
    }

    .container {
        padding: 0 .5em;

        .hero-container {
            padding-top: 1em;

            h1 {
                font-size: 1.4em;
                font-weight: 600;
            }

            p {
                padding: 1em 0;
                font-size: .65em;
                line-height: 1.5em;
            }
        }

        form {
            .input-label {
                display: inline-block;
                font-size: .6em;
                font-weight: 700;
                margin-bottom: .5em;
            }

            .text-input {
                display: flex;
                margin-bottom: 1em;

                input {
                    padding: 1em;
                    box-sizing: border-box;
                    width: 100%;
                    border: 0;
                    height: 3em;
                    font-size: .6em;
                }

                input:focus {
                    outline: 0;
                }
            }

            textarea {
                font-size: .6em;
                padding: 1em;
                border: 0;
                box-sizing: border-box;
                width: 100%;
                height: 9em;
                margin-bottom: 1em
            }

            textarea:focus {
                outline: 0;
            }

            .agreement {
                display: flex;
                align-items: flex-start;

                label {
                    font-size: .63em;

                    a {
                        color: black;
                    }
                }
            }

            .btn-submit {
                padding: 3em 0 2em;

                button {
                    width: 7em;
                    background-color: black;
                    border: 0;
                    color: white;
                    padding: 1em;
                    border-radius: 2em;
                    font-size: .6em;
                    font-weight: 700;
                }
            }
        }

        .text-content {
            h1 {
                font-size: 1.4em;
                font-weight: 600;
                padding-bottom: .7em;
            }

            .text-container {
                &:not(:last-child) {
                    margin-bottom: 1em;
                }

                p,
                a {
                    font-size: .65em;
                }

                a {
                    display: flex;
                    font-weight: 700;
                    color: black;
                    margin-bottom: .3em;
                }

                p {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: .3em;

                    strong {
                        margin-bottom: .3em;
                    }
                }
            }
        }

        .icon-content {
            padding-bottom: 2em;

            h2 {
                font-size: 1em;
                font-weight: 600;
            }

            .icon-container {
                display: flex;
                gap: .5em;

                i {
                    font-size: 1em;
                }
            }
        }
    }
}

@media screen and (min-width:767px) and (orientation:landscape) {
    #form-section {
        padding: 1.1em 0;

        .container {
            padding: 0 2em;
            margin: 0 auto;
            max-width: 1600px;

            .hero-container {
                padding-top: .8em;
                margin-bottom: .8em;

                h1 {
                    font-size: .7em;
                }

                p {
                    width: 80%;
                    padding: .7em 0;
                    font-size: .25em;
                    line-height: 1.3em;
                }
            }

            .form-text-container {
                display: flex;
                justify-content: space-between;

                form {
                    flex-basis: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: .2em;

                    .input-label {
                        font-size: .16em;
                        margin-bottom: 0;
                    }

                    .text-input {
                        margin-bottom: 0;

                        input {
                            font-size: .2em;
                        }
                    }

                    textarea {
                        font-size: .2em;
                    }

                    textarea:focus {
                        outline: 0;
                    }

                    .agreement {

                        label {
                            font-size: .2em;
                        }
                    }

                    .btn-submit {
                        padding: 0;

                        button {
                            font-size: .2em;
                        }
                    }
                }

                .text-icon-container {
                    flex-basis: 40%;

                    .text-content {
                        h1 {
                            font-size: .5em;
                            font-weight: 600;
                            padding-bottom: .5em;
                        }

                        .text-container {
                            &:not(:last-child) {
                                margin-bottom: .2em;
                            }

                            p,
                            a {
                                font-size: .15em;
                            }

                            a {
                                margin-bottom: .4em;
                            }

                            p {
                                padding-bottom: .4em;

                                strong {
                                    margin-bottom: .4em;
                                }
                            }
                        }
                    }

                    .icon-content {
                        padding-bottom: 0;

                        h2 {
                            font-size: .35em;
                        }

                        .icon-container {
                            column-gap: .2em;

                            .icon{
                                display: flex;
                                i {
                                    font-size: .2em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}