.navbar.hidden {
    transform: translateY(-200px);
}

#header {
    z-index: 999;
    position: fixed;
    width: 100%;
    padding: .8em 0;
    transition: .5s ease-in-out;


    .background {
        height: 100%;
        width: 100%;
        background-color: rgb(208, 229, 159);
        position: absolute;
        top: 0;
        clip-path: polygon(100% 0px, 100% 0px, 100% 100%, 100% 100%);
        transition: .5s cubic-bezier(.51, .01, .2, 1);
        transition-delay: .3s;
    }

    .background.active {
        clip-path: polygon(0% 0px, 100% 0px, 100% 100%, 0% 100%);
    }

    .container {
        padding: 0 .5em;

        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .navigation {
                display: none;
            }

            .img-container {
                z-index: 999;
                width: 8em;
                display: flex;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .lang-ham-container {
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: .8em;

                .account-cart-container {
                    display: none;
                }

                .lang-icon-container {
                    position: relative;

                    .lang-icon {
                        position: relative;
                        overflow: hidden;
                        z-index: 10;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: black;
                        border-radius: 50%;
                        width: 2.1em;
                        height: 2.1em;

                        i {
                            font-size: 1em;
                            color: white;
                        }

                        i:nth-child(1) {
                            transform: translateY(0);
                            transition: transform 0.5s cubic-bezier(.51, .01, .2, 1);
                        }

                        i:nth-child(2) {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, 2em);
                            transition: transform 0.5s cubic-bezier(.51, .01, .2, 1);
                        }
                    }

                    .lang-icon:hover {
                        i:nth-child(1) {
                            transform: translateY(-2em);
                        }

                        i:nth-child(2) {
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                .options-container {
                    top: 50%;
                    padding: 1em 0 .4em;
                    width: 100%;
                    text-align: center;
                    background-color: white;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    border-bottom-left-radius: 1em;
                    border-bottom-right-radius: 1em;

                    opacity: 1;
                    visibility: hidden;
                    transition: .5s;
                    -webkit-clip-path: polygon(0 0, 120% 0, 120% 0, 0 0);
                    clip-path: polygon(0 0, 120% 0, 120% 0, 0 0);

                    span {
                        padding: .8em;
                        font-size: .6em;
                        font-weight: 700;
                    }
                }

                .options-container.active {
                    visibility: visible;
                    -webkit-clip-path: polygon(0 0, 120% 0, 120% 120%, 0 120%);
                    clip-path: polygon(0 0, 120% 0, 120% 120%, 0 120%);
                }
            }

            .hamburger-menu-container {
                height: 1em;
                width: 1.2em;
                position: relative;

                span {
                    position: absolute;
                    background-color: black;
                    display: inline-block;
                    height: .1em;
                    transition: .25s ease-in-out;

                    &:nth-child(1) {
                        top: 0;
                        transform: translateY(100%);
                        width: 100%;
                    }

                    &:nth-child(2) {
                        top: 50%;
                        transform: translateY(-50%);
                        width: 100%;
                        transition: .5s;
                    }

                    &:nth-child(3) {
                        bottom: 0;
                        transform: translateY(-100%);
                        width: 80%;
                    }
                }
            }

            .hamburger-menu-container.active {
                span {
                    &:nth-child(1) {
                        top: 50%;
                        transform: rotate(135deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                        transform: translateX(-50px);
                    }

                    &:nth-child(3) {
                        top: 50%;
                        transform: rotate(-135deg);
                        width: 100%;
                    }
                }
            }
        }
    }
}

.mobile-nav.active {
    pointer-events: inherit;
}

.mobile-nav {
    pointer-events: none;
    overflow: hidden;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 99;

    nav.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition-delay: 0s;
    }

    nav {
        background-color: rgb(208, 229, 159);
        clip-path: polygon(100% 0px, 100% 0px, 100% 100%, 100% 100%);
        transition: .5s cubic-bezier(.51, .01, .2, 1);
        transition-delay: .3s;
        padding-top: 4.5em;
        box-sizing: border-box;
        overflow: scroll;
        height: 100vh;
    }

    ul {
        text-align: center;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 1em;
            overflow: hidden;

            a.open {
                transform: translateY(0);
                opacity: 1;
            }

            a {
                position: relative;
                overflow: hidden;
                opacity: 0;
                display: inline-block;
                padding: .3em;
                color: black;
                font-size: .9em;
                text-decoration: none;
                font-weight: 700;
                transform: translateY(25px);
                transition: .3s;

                span {
                    transition: transform 0.5s cubic-bezier(.51, .01, .2, 1);
                }

                span:nth-child(1) {
                    display: block;
                    transform: translateY(0em);
                }

                span:nth-child(2) {
                    position: absolute;
                    top: .3em;
                    left: .3em;
                    transform: translateY(3em);
                }
            }

            a:hover {
                span:nth-child(1) {
                    transform: translateY(-3em);
                }

                span:nth-child(2) {
                    transform: translateY(0em);
                }
            }

            &:nth-child(2) a {
                transition-delay: .1s;
            }

            &:nth-child(3) a {
                transition-delay: .2s;
            }

            &:nth-child(4) a {
                transition-delay: .3s;
            }

            &:nth-child(5) a {
                transition-delay: .4s;
            }

            &:nth-child(6) a {
                transition-delay: .5s;
                background-color: black;
                color: white;
                font-size: .6em;
                border-radius: 50px;
                padding: .9em 1.2em;

                span:nth-child(2) {
                    top: .9em;
                    left: 1.2em;
                }
            }

            &:nth-child(7) a {
                transition-delay: .6s;
                font-size: .6em;
                border: 2px solid black;
                border-radius: 50px;
                padding: .9em 1.2em;

                span:nth-child(2) {
                    top: .9em;
                    left: 1.2em;
                }
            }

            &:nth-child(8) a {
                transition-delay: .7s;
                font-size: .6em;
                border: 2px solid black;
                border-radius: 50px;
                padding: .9em 1.2em;

                span:nth-child(2) {
                    top: .9em;
                    left: 1.2em;
                }
            }

            &:nth-child(9) a {
                transition-delay: .8s;
                font-size: .6em;
                border: 2px solid black;
                border-radius: 50px;
                padding: .9em 1.2em;

                span:nth-child(2) {
                    top: .9em;
                    left: 1.2em;
                }
            }
        }
    }
}


@media screen and (min-width:767px) {
    #header {
        padding: .2em 0;

        .container {
            max-width: 1600px;
            margin: 0 auto;
            padding: 0 .3em;

            nav {
                .navigation {
                    display: block;

                    ul {
                        display: flex;
                        gap: .5em;
                        align-items: center;
                        list-style-type: none;
                        margin: 0;
                        padding: 0;

                        li {
                            display: flex;
                            align-items: center;

                            &:last-child {
                                background-color: black;
                                border-radius: .3em;

                                .active {
                                    border: 0;
                                }

                                a {
                                    color: white;
                                    display: inline-block;
                                    padding: 1.2em 1.5em;
                                    border: 0;

                                    span {
                                        transition: transform 0.4s cubic-bezier(.51, .01, .2, 1);
                                    }

                                    span:nth-child(1) {
                                        transform: translateY(0);
                                    }

                                    span:nth-child(2) {
                                        left: 1.5em;
                                        top: 1.2em;
                                        padding: 0em;
                                        transform: translateY(3em);
                                    }
                                }

                                a:hover {
                                    span:nth-child(1) {
                                        transform: translateY(-3em);
                                    }

                                    span:nth-child(2) {
                                        transform: translateY(0em);
                                    }
                                }
                            }

                            a {
                                border: 1px solid transparent;
                                padding: .4em .8em;
                                font-size: .16em;
                                color: black;
                                text-decoration: none;
                                font-weight: 700;
                                position: relative;
                                overflow: hidden;

                                span {
                                    transition: transform 0.5s cubic-bezier(.51, .01, .2, 1);
                                }

                                span:nth-child(1) {
                                    display: block;
                                    transform: translateY(0em);
                                }

                                span:nth-child(2) {
                                    position: absolute;
                                    top: .4em;
                                    left: .8em;
                                    transform: translateY(2em);
                                }
                            }

                            a:hover {
                                span:nth-child(1) {
                                    transform: translateY(-2em);
                                }

                                span:nth-child(2) {
                                    transform: translateY(0em);
                                }
                            }

                            a.active {
                                border: 1px solid black;
                                border-radius: 1.2em;
                            }
                        }


                    }
                }

                .img-container {
                    width: 2.7em;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .lang-ham-container {
                    gap: .22em;

                    .lang-icon-container {

                        .lang-icon {
                            width: .55em;
                            height: .55em;

                            i {
                                font-size: .25em;
                            }
                        }

                        .options-container {
                            padding: .3em 0 .1em;

                            span {
                                padding: .5em;
                                font-size: .16em;
                            }
                        }
                    }


                    .hamburger-menu-container {
                        display: none;
                    }

                    .account-cart-container {
                        position: relative;
                        display: flex;
                        background-color: white;
                        border-radius: .4em;

                        .account-icon {
                            position: relative;
                            overflow: hidden;
                            width: .55em;
                            height: .55em;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            i {
                                font-size: .25em;
                                color: black;
                            }

                            i:nth-child(1) {
                                transform: translateY(0);
                                transition: transform 0.5s cubic-bezier(.51, .01, .2, 1);
                            }

                            i:nth-child(2) {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, 2em);
                                transition: transform 0.5s cubic-bezier(.51, .01, .2, 1);
                            }

                        }

                        .account-icon:hover {
                            i:nth-child(1) {
                                transform: translateY(-2em);
                            }

                            i:nth-child(2) {
                                transform: translate(-50%, -50%);
                            }
                        }

                        .cart-fav-container {
                            .head-con {
                                z-index: 1;
                                text-decoration: none;
                                overflow: hidden;
                                position: relative;
                                width: .55em;
                                height: .55em;
                                background-color: black;
                                border-radius: 50%;

                                div {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    height: 100%;
                                    width: 100%;
                                    position: relative;

                                    i:nth-child(1) {
                                        font-size: .25em;
                                        color: white;
                                    }

                                    i:nth-child(2) {
                                        top: 1.24em;
                                        left: 1.75em;
                                        color: black;
                                        font-size: .13em;
                                        position: absolute;
                                    }
                                }

                                div:nth-child(1) {
                                    transform: translateY(0);
                                    transition: transform 0.5s cubic-bezier(.51, .01, .2, 1);
                                }

                                div:nth-child(2) {
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, .5em);
                                    transition: transform 0.5s cubic-bezier(.51, .01, .2, 1);
                                }
                            }

                            .head-con:hover {
                                div:nth-child(1) {
                                    transform: translateY(-.5em);
                                }

                                div:nth-child(2) {
                                    transform: translate(-50%, -50%);
                                }
                            }

                            .body-con {
                                padding-top: .575em;
                                padding-bottom: .095em;
                                position: absolute;
                                top: 0;
                                display: flex;
                                flex-direction: column;
                                background-color: white;
                                border-radius: 1em;

                                opacity: 1;
                                visibility: hidden;
                                transition: .5s;
                                -webkit-clip-path: polygon(0 0, 120% 0, 120% 0, 0 0);
                                clip-path: polygon(0 0, 120% 0, 120% 0, 0 0);

                                a {
                                    position: relative;
                                    color: black;
                                    text-decoration: none;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: .55em;
                                    height: .355em;

                                    i {
                                        font-size: .18em;
                                    }

                                    .quantity {
                                        height: .18rem;
                                        width: .18rem;
                                        font-size: .8rem;
                                        right: .05em;
                                    }
                                }
                            }

                            .body-con.active {
                                visibility: visible;
                                -webkit-clip-path: polygon(0 0, 120% 0, 120% 120%, 0 120%);
                                clip-path: polygon(0 0, 120% 0, 120% 120%, 0 120%);
                            }
                        }



                        .quantity {
                            z-index: 2;
                            top: 0;
                            right: 0;
                            position: absolute;
                            border-radius: 50%;
                            background-color: red;
                            height: .2em;
                            width: .2em;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            span {
                                font-size: .15em;
                                font-weight: 700;
                                color: white;

                            }
                        }
                    }
                }
            }
        }
    }
}