.loader-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);

    .loader {
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid;
        border-color: #000 #0000;
        animation: l1 1s infinite;
    }

    @keyframes l1 {
        to {
            transform: rotate(.5turn)
        }
    }
}

.loader-container.dark {
    background-color: rgb(22, 22, 25) !important;

    .loader {
        border-color: white rgb(22, 22, 25)
    }
}

.account-section.dark {
    background-color: rgb(22, 22, 25) !important;
    .box-container {
        background-color: rgb(22, 22, 25);

        .white-box {
            background-color: rgb(22, 22, 25) !important;
        }
    }

    .container {
        background-color: rgb(22, 22, 25) !important;
        color: white !important;

        a {
            color: white !important;
        }
    }
}

#account-section {
    padding: 0;
    background-color: rgb(233, 233, 230);

    .container {
        padding: .5em 0.5em;
        background-color: rgb(233, 233, 230);

        ul {
            list-style-type: none;
            padding: 0;

            li {
                padding: .7em .4em;
                border-bottom: 1px solid grey;

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: black;
                        margin: 0;
                        font-weight: 600;
                        font-size: .9em;
                    }
                }
            }

            li.active {
                background-color: rgb(208, 229, 159);
            }
        }

        .content-container {
            .dashboard-text-container {
                p {
                    font-size: .65em;

                    a {
                        font-weight: 600;
                        color: black;
                    }
                }
            }

            .orders-text-container {
                p {
                    font-size: .65em;

                    a {
                        font-weight: 600;
                        color: black;
                    }
                }
            }

            .addresses-text-container {
                .div-container {
                    h1 {
                        font-size: 1.2em;
                        font-weight: 600;
                    }

                    p {
                        margin: .3em 0;
                        font-size: .65em;
                    }

                    a {
                        margin: 0;
                        font-size: .65em;
                        color: black;
                        font-weight: 600;
                    }

                    div:nth-child(3) {
                        margin-bottom: 2em;
                    }
                }
            }

            .details-text-container {
                .input-container {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1.2em;

                    label {
                        font-weight: 600;
                        font-size: .6em;
                        margin-bottom: .25em;
                    }

                    input {
                        width: 100%;
                        box-sizing: border-box;
                        border: none;
                        height: 3.3em;
                        padding: 1em;
                    }

                    span {
                        font-size: .55em;
                        font-style: italic;
                    }

                    input:focus {
                        outline: none;
                    }

                    .password-container {
                        position: relative;

                        .eye-btn-container {
                            display: flex;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: .6em;

                            button {
                                background-color: transparent;
                                border: none;
                            }
                        }
                    }
                }

                h1 {
                    font-size: 1em;
                }

                .btn-container {
                    margin-bottom: 2em;

                    button {
                        background-color: black;
                        color: white;
                        border: none;
                        padding: 1em 1.5em;
                        border-radius: 4em;
                        font-size: .6em;
                        font-weight: 600;
                    }
                }
            }

            .vat-text-container {
                flex-direction: column;

                .input-container {
                    margin-bottom: .5em;

                    label {
                        font-weight: 600;
                        font-size: .6em;
                    }

                    input {
                        margin-top: .5em;
                        width: 100%;
                        box-sizing: border-box;
                        border: none;
                        height: 3.3em;
                        padding: 1em;
                    }

                    input:focus {
                        outline: none;
                    }

                }

                button {
                    background-color: black;
                    color: white;
                    border: none;
                    padding: 1em 1.5em;
                    border-radius: 4em;
                    font-size: .6em;
                    font-weight: 600;
                    margin-bottom: 2em;
                }
            }
        }
    }
}


@media screen and (min-width:767px) {
    #account-section {
        padding: 0;

        .container {
            max-width: 1600px;
            margin: 0 auto;
            padding: 0 2em 2em;
            background-color: rgb(233, 233, 230);

            .account-container {
                display: flex;
                align-self: start;
                gap: .5em;

                .ul-container {
                    flex-basis: 45%;

                    ul {
                        margin: 0;
                        list-style-type: none;
                        padding: 0;

                        li {
                            padding: .2em .1em;
                            border-bottom: 1px solid grey;

                            div {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                a {
                                    text-decoration: none;
                                    color: black;
                                    margin: 0;
                                    font-weight: 600;
                                    font-size: .2em;
                                }

                                i {
                                    font-size: .25em;
                                }
                            }
                        }

                        li.active {
                            background-color: rgb(208, 229, 159);
                        }
                    }
                }

                .content-container {
                    width: 100%;

                    .dashboard-text-container {
                        p {
                            font-size: .2em;

                            a {
                                font-weight: 600;
                                color: black;
                            }
                        }
                    }

                    .orders-text-container {
                        p {
                            font-size: .2em;

                            a {
                                font-weight: 600;
                                color: black;
                            }
                        }
                    }

                    .addresses-text-container {
                        p {
                            margin: 0;
                            font-size: .18em;
                        }

                        .div-container {
                            display: flex;
                            gap: 1em;

                            div {
                                display: flex;
                                flex-direction: column;
                            }

                            h1 {
                                font-size: .4em;
                                font-weight: 600;
                                margin: .8em 0;
                            }

                            a {
                                margin-bottom: .5em;
                                font-size: .2em;
                                color: black;
                                font-weight: 600;
                            }

                            div:nth-child(3) {
                                margin-bottom: 0em;
                            }
                        }
                    }

                    .details-text-container {
                        .input-container {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: .4em;

                            label {
                                font-weight: 600;
                                font-size: .2em;
                                margin-bottom: .25em;
                            }

                            input {
                                height: 0em;
                                padding: 1.8em 1em;
                                font-size: .2em;
                            }

                            span {
                                font-size: .2em;
                            }

                            .password-container {
                                position: relative;
                                display: flex;

                                .eye-btn-container {
                                    right: .3em;
                                }
                            }
                        }

                        h1 {
                            font-size: .3em;
                        }

                        .btn-container {
                            margin-bottom: 0em;
                            display: flex;

                            button {
                                background-color: black;
                                color: white;
                                border: none;
                                padding: 1em 1.5em;
                                border-radius: 4em;
                                font-size: .15em;
                                font-weight: 600;
                            }
                        }
                    }

                    .vat-text-container {
                        .input-container {
                            display: flex;
                            flex-direction: column;

                            label {
                                font-weight: 600;
                                font-size: .2em;
                                margin-bottom: .25em;
                            }

                            input {
                                height: 0em;
                                padding: 1.8em 1em;
                                font-size: .17em;
                            }
                        }

                        .btn-container {
                            display: flex;

                            button {
                                background-color: black;
                                color: white;
                                border: none;
                                padding: 1em 1.5em;
                                border-radius: 4em;
                                font-size: .15em;
                                font-weight: 600;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}