#my-account {
    background-color: rgb(205, 205, 199);
    padding-top: 3.65em;

    .text-container {
        padding: 1.5em 0 3em;

        h1 {
            margin: 0;
            font-weight: 600;
        }
    }

    .container {
        padding: 0 .5em;
    }
}

#login-register-section {
    background-color: rgb(205, 205, 199);

    h2,
    p {
        margin: 0;
    }
    .error-message-container{
        background-color: rgb(233, 233, 230);
        .error-message {
            padding: 2em .5em;
            font-size: .6em;
            color: white;
            border-radius: .5em;
        }
    }

    .login-register {
        padding: 1em 0;
        background-color: rgb(233, 233, 230);

        .login {
            border-radius: 1em;
            background-color: rgb(205, 205, 199);
            padding: 1.5em 0;
            margin-bottom: 2em;

            .login-container {
                padding: 0 .5em;

                h2 {
                    font-size: 1.2em;
                    font-weight: 600;
                    margin-bottom: .8em;
                }

                form {
                    .input-label {
                        display: inline-block;
                        font-size: .6em;
                        font-weight: 700;
                        margin-bottom: .7em;
                    }

                    input[type='text'],
                    input[type='password'],
                    input[type='email'] {
                        height: 3.5em;
                        padding: 1em;
                        width: 100%;
                        border: 0;
                        box-sizing: border-box;
                        font-size: .6em;
                        margin-bottom: 1em;
                    }

                    input[type='text']:focus,
                    input[type='password']:focus,
                    input[type='email']:focus {
                        outline: 0;
                    }

                    .password-container {
                        position: relative;

                        .eye-btn {
                            position: absolute;
                            top: .9em;
                            right: 1em;
                            background-color: transparent;
                            border: 0;
                        }
                    }

                    .remember-password-container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 1em;

                        .remember-me {
                            display: flex;
                            align-items: center;
                            gap: .2em;
                            font-size: .6em;
                        }

                        .lost-password {
                            font-size: .6em;

                            a {
                                color: black;
                            }
                        }
                    }

                    .button-container {
                        button {
                            background-color: black;
                            color: white;
                            border: 0;
                            padding: 1em 1.5em;
                            border-radius: 2em;
                            font-size: .6em;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .register {
            border-radius: 1em;
            background-color: rgb(208, 229, 159);
            padding: 1em 0;

            .register-container {
                padding: 0 .5em;

                h2 {
                    font-size: 1.2em;
                    font-weight: 600;
                    margin-bottom: .8em;
                }

                form {
                    .input-label {
                        display: inline-block;
                        font-size: .6em;
                        font-weight: 700;
                        margin-bottom: .7em;
                    }

                    input[type='text'],
                    input[type='password'] {
                        height: 3.5em;
                        padding: 1em;
                        width: 100%;
                        border: 0;
                        box-sizing: border-box;
                        font-size: .6em;
                        margin-bottom: 1em;
                    }

                    input[type='text']:focus,
                    input[type='password']:focus,
                    input[type='email']:focus {
                        outline: 0;
                    }

                    .password-container {
                        position: relative;


                        .eye-btn {
                            position: absolute;
                            top: .9em;
                            right: 1em;
                            background-color: transparent;
                            border: 0;
                        }
                    }

                    .privacy-policy {
                        margin: 1em 0 2em;
                        font-size: .6em;

                        a {
                            color: black;
                        }
                    }

                    .button-container {
                        button {
                            background-color: black;
                            color: white;
                            border: 0;
                            padding: 1em 1.5em;
                            border-radius: 2em;
                            font-size: .6em;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:767px) and (orientation:landscape) {
    #my-account {
        padding-top: 1.1em;

        .text-container {
            padding: .8em 0 1em;

            h1 {
                font-size: .7em;
            }
        }

        .container {
            margin: 0 auto;
            max-width: 1600px;
            padding: 0 2em;
        }
    }

    #login-register-section {
        background-color: rgb(233, 233, 230);

        .error-message-container{
            background-color: rgb(233, 233, 230);
            .error-message {
                padding: 2em;
                font-size: .15em;
                color: white;
                border-radius: .8em;
                margin-bottom: 2em;
            }
        }

        .container {
            background-color: rgb(233, 233, 230);
            max-width: 1600px;
            margin: 0 auto;
            padding: 0 2em;

            .login-register {
                display: flex;
                gap: .5em;
                padding: 0;

                .login {
                    flex-basis: 50%;
                    border-radius: .2em;
                    background-color: rgb(205, 205, 199);
                    padding: .5em 0;
                    margin-bottom: 2em;

                    .login-container {
                        padding: 0 .3em;

                        h2 {
                            font-size: .5em;
                            margin-bottom: .8em;
                        }

                        form {
                            display: flex;
                            flex-direction: column;

                            .input-label {
                                display: inline-block;
                                font-size: .15em;
                                font-weight: 700;
                                margin-bottom: .5em;
                            }

                            div {
                                display: flex;
                            }

                            input[type='text'],
                            input[type='password'] {
                                height: 0em;
                                padding: 2em 1em;
                                width: 100%;
                                border: 0;
                                box-sizing: border-box;
                                font-size: .15em;
                                margin-bottom: 3em;
                            }

                            input[type='text']:focus,
                            input[type='password']:focus {
                                outline: 0;
                            }

                            .password-container {
                                position: relative;

                                .eye-btn {
                                    font-size: .2em;
                                    top: .9em;
                                }
                            }

                            .remember-password-container {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin-bottom: 1em;

                                .remember-me {
                                    display: flex;
                                    align-items: center;
                                    gap: .2em;
                                    font-size: .18em;
                                }

                                .lost-password {
                                    font-size: .18em;

                                    a {
                                        color: black;
                                    }
                                }
                            }

                            .button-container {
                                button {
                                    background-color: black;
                                    color: white;
                                    border: 0;
                                    padding: 1.5em 2.5em;
                                    border-radius: 3em;
                                    font-size: .15em;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }

                .register {
                    flex-basis: 50%;
                    border-radius: .2em;
                    background-color: rgb(208, 229, 159);
                    padding: .5em 0;
                    margin-bottom: 2em;

                    .register-container {
                        padding: 0 .5em;

                        h2 {
                            font-size: .5em;
                            margin-bottom: .8em;
                        }

                        form {
                            display: flex;
                            flex-direction: column;

                            .input-label {
                                display: inline-block;
                                font-size: .15em;
                                font-weight: 700;
                                margin-bottom: .5em;
                            }

                            div {
                                display: flex;
                            }

                            input[type='text'],
                            input[type='password'],
                            input[type='email'] {
                                height: 0em;
                                padding: 2em 1em;
                                width: 100%;
                                border: 0;
                                box-sizing: border-box;
                                font-size: .15em;
                                margin-bottom: 3em;
                            }

                            .password-input{
                                margin-bottom: .5em !important;
                            }

                            input[type='text']:focus,
                            input[type='password']:focus,
                            input[type='email']:focus {
                                outline: 0;
                            }

                            .password-container {
                                position: relative;
                                .eye-btn {
                                    font-size: .2em;
                                    top: .9em;
                                }
                            }

                            .privacy-policy {
                                font-size: .15em;
                            }

                            .button-container {
                                button {
                                    background-color: black;
                                    color: white;
                                    border: 0;
                                    padding: 1.5em 2.5em;
                                    border-radius: 3em;
                                    font-size: .15em;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}