#who-are-we {
    background-color: rgb(205, 205, 199);
    padding-top: 3.65em;

    .our-story-container {
        background-color: rgb(228, 228, 228);
        border-top-left-radius: 1.2em;
        border-top-right-radius: 1.2em;

        .container {
            padding: 0 .5em;

            .text-container {
                padding: 3em 0;

                h1 {
                    margin: 0 0 .65em;
                    font-size: 1.4em;
                    font-weight: 600;
                    line-height: 1.3em;
                    div{
                        overflow: hidden;
                        span{
                            display: inline-block;
                        }
                    }
                }

                p {
                    overflow: hidden;
                    margin: 0;
                    font-size: .6em;
                    line-height: 1.5em;
                    span{
                        display: inline-block;
                    }
                }
            }
        }

        .img-container {
            overflow: hidden;
            border-top-left-radius: 1.2em;
            border-top-right-radius: 1.2em;

            img {
                width: 100%;
                vertical-align: middle;
            }
        }

        .text-content {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 1.5em .5em 1.5em 1.8em;
            background-color: rgb(208, 229, 159);

            .p-container {
                overflow: hidden;
                margin-bottom: .25em;

                p {
                    margin: 0;
                    font-size: .6em;
                    font-weight: 600;
                }
            }

            .comma-container {
                position: absolute;
                top: .4em;
                left: 0.2em;
                font-size: 2.5em;
            }
        }
    }
}

#our-story {
    background-color: rgb(205, 205, 199);
    padding: 3em 0;

    .container {
        padding: 0 .5em;

        .text-img-content {
            .text-container {
                h5 {
                    font-size: .61em;
                    font-weight: 600;
                    margin: 0;

                    .mobile {
                        div:not(:last-child) {
                            margin-bottom: .5em;
                        }

                        div {
                            overflow: hidden;

                            span {
                                display: inline-block;
                            }
                        }
                    }

                    .desktop {
                        display: none;

                        div {
                            overflow: hidden;

                            span {
                                display: inline-block;
                            }
                        }
                    }
                }

                p {
                    overflow: hidden;
                    font-size: .6em;
                    line-height: 1.5em;
                    margin-bottom: 3em;

                    span {
                        display: inline-block;
                    }

                    span:not(:last-child) {
                        margin-bottom: 1em;
                    }
                }
            }

            .img-container {
                overflow: hidden;
                border-top-right-radius: 6em;
                border-bottom-left-radius: 6em;

                img {
                    width: 100%;
                    vertical-align: middle;
                }
            }
        }

        .result {
            .result-container {
                margin-top: 3em;

                h1 {
                    .mobile {
                        font-weight: 600;
                        font-size: .8em;

                        div {
                            overflow: hidden;

                            span {
                                display: inline-block;
                            }
                        }

                        div:not(:last-child) {
                            margin-bottom: .2em;

                            div {
                                overflow: hidden;

                                span {
                                    display: inline-block;
                                }
                            }
                        }
                    }

                    .desktop {
                        display: none;

                        span {
                            display: inline-block;
                        }
                    }
                }

                p {
                    overflow: hidden;
                    font-size: .6em;

                    span {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.box-container {
    position: relative;
    height: 3em;
    background-color: rgb(205, 205, 199);

    .green-box {
        height: 100%;
        background-color: rgb(208, 229, 159);
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
    }

    .white-box {
        position: absolute;
        background-color: rgb(233, 233, 230);
        height: 1.7em;
        bottom: 0;
        width: 100%;
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
    }
}

#sentimental-news-story {
    background-color: rgb(233, 233, 230);
    padding: 1.5em 0;

    .container {
        padding: 0 .5em;

        .h1-container {
            overflow: hidden;
            .button-container-desktop {
                display: none;
            }
        }

        .hero-h1 {
            font-size: 1.4em;
            font-weight: 600;
            margin: 0;
            padding-bottom: .3em;
        }

        .card-container {
            padding: 1.5em 0;
            border-bottom: 1px solid rgb(194, 194, 194);

            .first-container {
                .img-container {
                    border-radius: 1em;
                    overflow: hidden;

                    img {
                        width: 100%;
                        vertical-align: bottom;
                    }
                }

                .mobile-news {
                    display: inline-block;
                    font-weight: 700;
                    font-size: .5em;
                    padding: 1.5em 0;
                }

                .desktop-news {
                    display: none;
                }
            }

            .second-container {
                h1 {
                    margin: 0 0 .5em 0;
                    font-size: .9em;
                    font-weight: 600;
                    line-height: 1.4em;
                }

                .date-author {
                    display: flex;
                    align-items: center;
                    gap: .2em;

                    i {
                        font-size: .7em;
                    }

                    .date {
                        font-weight: 600;
                        font-size: .7em;
                    }

                    .seperator {
                        font-size: .65em;
                        font-weight: 300;
                    }

                    .author {
                        font-size: .6em;
                    }
                }
            }
        }

        .button-container {
            padding: 1em 0;
            display: flex;
            justify-content: flex-end;

            button {
                font-size: .6em;
                font-weight: 700;
                background-color: black;
                color: white;
                border: none;
                padding: 1em;
                border-radius: 2em;
            }
        }
    }
}





#feeling-sentimental-story {
    background-color: rgb(233, 233, 230);

    .container {
        border-radius: 1.2em;
        padding: 2em .5em;
        background-color: rgb(208, 229, 159);

        h1 {
            margin: 0;
            font-size: 1.2em;
            font-weight: 600;

            .mobile {
                div {
                    overflow: hidden;

                    span {
                        display: inline-block;
                    }
                }
            }

            .desktop {
                display: none;

                div {
                    overflow: hidden;

                    span {
                        display: inline-block;
                    }
                }
            }
        }

        .p-container {
            overflow: hidden;
            margin: 1em 0;

            p {
                margin: 0;
                font-size: .6em;
                line-height: 1.5em;
            }
        }
    }

    .logo-container {
        overflow: hidden;
    }

    .logo-name {
        display: flex;
        align-items: center;
        gap: .45em;

        img {
            width: 10%;
        }

        div {
            display: flex;
            flex-direction: column;
            row-gap: .2em;

            span {
                font-weight: 600;
                font-size: .6em;
            }
        }
    }

    .box {
        height: 3em;
        width: 100%;
        background-color: rgb(208, 229, 159);
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
}

#ride-the-wave {
    background-color: rgb(233, 233, 230);

    .container {
        padding: 0 .5em;

        .text-container {
            font-size: .9em;
            padding: 4em 0 1em;

            h1 {
                margin: 0;
                font-weight: 600;

                .mobile {
                    div {
                        overflow: hidden;

                        span {
                            display: inline-block;
                        }
                    }
                }

                .desktop {
                    display: none;

                    div {
                        overflow: hidden;

                        span {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }

    .img-container {
        overflow: hidden;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;

        img {
            width: 100%;
            vertical-align: middle;
        }
    }
}

@media screen and (min-width:767px) and (orientation:landscape) {
    #who-are-we {
        padding-top: 1.1em;

        .our-story-container {
            border-top-left-radius: 1.5em;
            border-top-right-radius: 1.5em;

            .container {
                padding: 0 1em;
                margin: 0 auto;
                max-width: 1600px;

                .text-container {
                    display: flex;
                    justify-content: space-between;
                    padding: 1em 0;

                    h1 {
                        flex-basis: 45%;
                        align-self: flex-end;
                        margin: 0;
                        font-size: .7em;
                    }

                    p {
                        flex-basis: 45%;
                        align-self: flex-end;
                        margin: 0;
                        font-size: .25em;
                    }
                }
            }

            .img-text-container {
                position: relative;

                .img-container {
                    overflow: hidden;
                    border-top-left-radius: 1.2em;
                    border-top-right-radius: 1.2em;
                    overflow: hidden;

                    img {
                        width: 100%;
                        vertical-align: middle;
                    }
                }

                .text-container {
                    position: absolute;
                    bottom: 1.7em;
                    left: 1.2em;
                    border-radius: .3em;
                    overflow: hidden;

                    .text-content {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        padding: .3em .2em .3em .5em;
                        width: 7em;

                        .p-container {
                            overflow: hidden;
                            margin-bottom: .05em;

                            p {
                                margin: 0;
                                font-size: .25em;
                                font-weight: 600;
                            }
                        }

                        .comma-container {
                            top: .5em;
                            left: 0.4em;
                            font-size: .5em;
                        }
                    }
                }
            }
        }
    }

    #our-story {
        padding: 2em 0;

        .container {
            padding: 0 2em;
            margin: 0 auto;
            max-width: 1600px;

            .text-img-content {
                display: flex;
                justify-content: space-between;

                .text-container {
                    flex-basis: 32%;

                    h5 {
                        font-size: .23em;

                        .mobile {
                            display: none;
                        }

                        .desktop {
                            display: block;

                            div {
                                margin-bottom: .3em;
                            }
                        }
                    }

                    p {
                        font-size: .16em;
                        line-height: 1.6em;

                        span:not(:last-child) {
                            margin-bottom: 1em;
                        }
                    }
                }

                .img-container {
                    flex-basis: 55%;
                    border-top-right-radius: 2em;
                    border-bottom-left-radius: 2em;
                }
            }

            .result {
                .result-container {
                    margin-top: 2em;

                    h1 {
                        font-size: .48em;
                        font-weight: 600;
                        text-align: center;

                        .mobile {
                            display: none;
                        }

                        .desktop {
                            display: block;
                        }
                    }

                    p {
                        text-align: center;
                        font-size: .24em;
                    }
                }
            }
        }
    }

    .box-container {
        height: 2.1em;

        .green-box {
            border-top-left-radius: 1.4em;
            border-top-right-radius: 1.4em;
        }

        .white-box {
            border-top-left-radius: 1.4em;
            border-top-right-radius: 1.4em;
        }
    }

    #sentimental-news-story {
        padding: 0;

        .container {
            padding: 0 2em;
            margin: 0 auto;
            max-width: 1600px;

            .h1-container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .hero-h1 {
                    font-size: .7em;
                    padding-bottom: 0em;
                }

                .button-container-desktop {
                    padding: 1em 0;
                    display: flex;
                    justify-content: flex-end;

                    button {
                        font-size: .15em;
                        font-weight: 700;
                        background-color: black;
                        color: white;
                        border: none;
                        padding: 1em;
                        border-radius: 2em;
                    }
                }
            }

            .card-container {
                display: flex;
                padding: .5em 0;
                justify-content: space-between;

                .first-container {
                    display: flex;
                    align-items: flex-start;
                    gap: .5em;

                    .img-container {
                        border-radius: .3em;
                        width: 4em;
                    }

                    .desktop-news {
                        display: inline-block;
                        transform: rotate(270deg) translateX(-50%);
                        font-size: .15em;
                        font-weight: 700;
                        padding: 0;
                    }

                    .mobile-news {
                        display: none;
                    }
                }

                .second-container {
                    width: 55%;

                    h1 {
                        margin: 0 0 0.5em 0;
                        font-size: .3em;
                        font-weight: 600;
                        line-height: 1.4em;
                    }

                    .date-author {
                        display: flex;
                        align-items: center;
                        gap: .2em;

                        i {
                            font-size: .2em;
                        }

                        .date {
                            font-weight: 600;
                            font-size: .2em;
                        }

                        .seperator {
                            font-size: .15em;
                            font-weight: 300;
                        }

                        .author {
                            font-size: .15em;
                        }
                    }
                }
            }

            .button-container {
                display: none;
            }
        }
    }

    #feeling-sentimental-story {
        padding: 2em;

        .container {
            border-radius: .7em;
            max-width: 1600px;
            padding: 1em;
            margin: 0 auto;

            h1 {
                font-size: .5em;

                .mobile {
                    display: none;
                }

                .desktop {
                    display: block;
                }
            }

            .p-container {
                margin: .5em 0;

                p {
                    font-size: .25em;
                }
            }
        }

        .logo-name {
            gap: .2em;

            img {
                width: 6%;
            }

            div {
                row-gap: .1em;

                span {
                    font-size: .2em;
                }
            }
        }
    }

    #ride-the-wave {
        position: relative;
        .container {
            padding: 0 2em;
            margin: 0 auto;
            max-width: 1600px;

            .text-container {
                position: absolute;
                padding: 0;
                top: 1em;

                h1 {
                    font-size: .8em;

                    .mobile {
                        display: none;
                    }

                    .desktop {
                        display: block;
                    }
                }
            }
        }

        .img-container {
            border-top-left-radius: 1.4em;
            border-top-right-radius: 1.4em;
        }
    }
}