html {
    font-size: 6.25vw;
}

@media (min-width: 1600px) {
    html {
        font-size: calc(100px);
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

textarea{
    font-family: 'Barlow', sans-serif;
}

@import 'header';
@import 'home';
@import 'ourstory';
@import 'dealership';
@import 'becomepartnercomp';
@import 'configurebike';
@import 'myaccount';
@import 'myaccountcomp';
@import 'cart';
@import 'footer';
@import 'form';
@import 'details';
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');